* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    transition-duration: 500ms;
}

body {
    margin: 0;
    padding: 0;
}

h1, blockquote, article {
    margin: 0;
    padding: 0;
}

.col-pc-1 {width: calc(100%/12 * 1);}
.col-pc-2 {width: calc(100%/12 * 2);}
.col-pc-3 {width: calc(100%/12 * 3);}
.col-pc-4 {width: calc(100%/12 * 4);}
.col-pc-5 {width: calc(100%/12 * 5);}
.col-pc-6 {width: calc(100%/12 * 6);}
.col-pc-7 {width: calc(100%/12 * 7);}
.col-pc-8 {width: calc(100%/12 * 8);}
.col-pc-9 {width: calc(100%/12 * 9);}
.col-pc-10 {width: calc(100%/12 * 10);}
.col-pc-11 {width: calc(100%/12 * 11);}
.col-pc-12 {width: calc(100%/12 * 12);}

.header {
    overflow: hidden;
    background-color: #FF986F;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.header h1.logo_text {
    transform: rotate(-12deg);
    display: flex;
    font-size: 45px;
    background-color: #DF6150;
    color: #FEEFDD;
    text-align: center;
    height: 200px;
    width: 1000px;
    align-items: center;
    justify-content: center;
}

.quote {
    text-align: center;
    padding: 70px;
    font-size: 25px;
    color: #feefdd;
    font-style: italic;
    background-color: #50B2C0;
}

blockquote {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

blockquote::before {
    color: #A7D1CF;
    content: open-quote;
    font-size: 8rem;
    margin: -5rem 0 0 -1rem;
    position: absolute;
}
/*blockquote::after {*/
/*    color: #A7D1CF;*/
/*    content: close-quote;*/
/*    font-size: 8rem;*/
/*    margin: 1rem 0 0 12%;*/
/*    position: absolute;*/
/*}*/

.content {
    font-size: 20px;
    display: inline-flex;
    text-align: justify;
    font-style: italic;
    color: #201e1f;
}

.leftPic {
    display: inline-flex;
    text-align: justify;
    align-items: center;
}
.leftPic p {
    padding-right: 20px;
}

.leftPic img {
    border: 2px solid #A7D1CF;
    height: 10vw;
}

.rightPic {
    display: inline-flex;
    text-align: justify;
    align-items: center;
}
.rightPic p {
    padding-right: 20px;
}

.rightPic img {
    border: 2px solid #FEEFDD;
    height: 10vw;
}

.leftContent {background-color: #FEEFDD; padding-left: 10%; padding-right: 10px;}
.rightContent  {background-color: #A7D1CF; padding-right: 10%; padding-left: 10px;}

.leftContent strong {color: #A7D1CF; font-size: 40px; font-style: normal;}
.rightContent strong {color: #FEEFDD; font-size: 40px; font-style: normal;}

.h1left {color: #A7D1CF; text-align: right; padding: 30px 0; font-size: 60px;}
.h1right {color: #FEEFDD; text-align: left; padding: 30px 0; font-size: 60px;}

.content p {
    padding-top: 10px;
    padding-bottom: 20px;
}

.footer {
    border-top: 10px solid;
    border-bottom: 10px solid;
    padding: 160px 0;
    text-align: center;
    background-color: #50B2C0;
    color: #FEEFDD;
    font-size: 2vw;
    font-style: italic;
}

.footer {
    /*border-color: #FF4000;*/
    border-color: #FF986F;
}

@media only screen and (min-width: 481px) and (max-width: 640px)  {
    .header {height: 300px;}

    .header h1.logo_text {
        transform: rotate(12deg);
        font-size: 40px;
        height: 150px;
        width: 260px;
        align-items: center;
        justify-content: center;
    }

    .leftContent {padding-left: 10px; padding-right: 10px;}
    .rightContent  {padding-right: 10px; padding-left: 10px;}

    .leftPic {display: block;}
    .leftPic p {padding: 0 0 0 0;}
    .leftPic img {
        display: block;
        height: 28vw;
    }

    .rightPic {display: block;}
    .rightPic p {padding: 0 0 0 0;}
    .rightPic img {
        display: block;
        height: 28vw;
        padding: 0 0 0 0;
        margin: 0;
    }

    .quote {font-size: 20px;}

    .footer {
        padding: 90px 0;
        text-align: center;
        background-color: #50B2C0;
        color: #FEEFDD;
        font-size: 3vw;
        font-style: italic;
    }
}

@media only screen and (max-width: 480px) {
    .col-pc-6 {width: 100%;}
    .header {height: 300px;}

    .header h1.logo_text {
        transform: rotate(0deg);
        font-size: 40px;
        height: 150px;
        width: 200px;
        align-items: center;
        justify-content: center;
    }

    .quote {
        padding: 50px 20px 20px 20px;
        font-size: 20px;
    }

    blockquote {max-width: 1400px;}

    blockquote::before {
        font-size: 6rem;
        margin: -3.5rem 0 0 -1rem;
    }

    .content {
        font-size: 20px;
        display: block;
        text-align: justify;
    }
    .content p {
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0;
    }

    .leftContent {padding-left: 10px; padding-right: 10px;}
    .rightContent  {padding-right: 10px; padding-left: 10px;}

    .leftPic {display: block;}
    .leftPic p {padding: 0 0 10px 0;}
    .leftPic img {
        display: block;
        height: 59vw;
    }

    .rightPic {display: block;}
    .rightPic p {padding: 0 0 10px 0;}
    .rightPic img {
        display: block;
        height: 59vw;
    }

    .footer {
        font-size: 3vw;
        padding: 70px 0;
    }
}