* {
    font-family: Tahoma, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #E9EEF3ff;
    margin: 0;
    padding: 0;
}

/*--reseda-green: #687D46ff;*/
/*--alice-blue: #E9EEF3ff;*/
/*--silver: #B4ABA3ff;*/
/*--antiflash-white: #EEF1F5ff;*/
/*--timberwolf: #D2D4D5ff;*/

.col-d-1 {width: calc(100% / 8)}
.col-d-2 {width: calc(100% / 8 * 2)}
.col-d-3 {width: calc(100% / 8 * 3)}
.col-d-4 {width: calc(100% / 8 * 4)}
.col-d-5 {width: calc(100% / 8 * 5)}
.col-d-6 {width: calc(100% / 8 * 6)}
.col-d-7 {width: calc(100% / 8 * 7)}
.col-d-8 {width: 100%}

.header {
    background-image: url("img/grubosz.jpg") ;
    background-color: #cccccc;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.header .header_text{
    text-align: center;
    font-style: italic;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: #65320f;
}

.header .header_text h1 {padding: 0; margin: 0; font-size: 5vw}
.header .header_text h3 {padding: 0; margin: 0; font-size: 2vw}

.navbar {
    position: absolute;
    top: 600px;
    left: 0;
    height: 100px;
    background: rgb(223,223,223);
    background: linear-gradient(0deg, rgba(223,223,223,1) 0%, rgba(189,189,89,0) 100%);
    transition-property: background-color;
    transition-duration: 500ms;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid #d5d5d5;
}

.content {
    margin-left: auto;
    margin-right: auto;
    height: 1200px;
    background-color: #EEF1F5ff;
}

.footer {
    height: 300px;
    background: #EEF1F5ff;
}
